<!DOCTYPE html>
<html>
  <head>
    <title>MyNewApp</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="stylesheets/custom_styles.css">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      
    <!--<div class="brand">The Bake Shop</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div> -->
    
   
    
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to 'Home', "/static_pages/index" %>
                    </li>
                    <li>
                        <%= link_to 'About', "/static_pages/about" %>
                    </li>
                    <li>
                        <%= link_to 'Products', "/products" %>
                    </li> 
                    <li>
                        <%= link_to 'Contact', "/static_pages/contact" %>
                    </li>
                </ul>
                
                <!-- Form -->
                <div class="field form-group">
                    <%= form_tag("/products", method: "get", class: "form-horizontal") do %>
                        <%= label_tag(:q, "Search for:", class: "col-sm-5 control-label") %> 
                        <%= text_field_tag(:q) %>
                        <%= submit_tag("Search") %>
                    <% end %>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    
    <%= yield %>
    
  
     <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; The Bake Shop 2017</p>
                </div>
            </div>
        </div>
    </footer>
    
  </body>
</html>